{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

  <h1>
    TODO list
  <a href="{% url 'todolist:task-creation' %}" class="btn btn-primary link-to-page">Create</a>
  </h1>
  {% for task in task_list %}
    <hr>
    <p>
    {% if task.done_or_not %}
      <strong style="color: green">Done</strong>
      <a href="{% url 'todolist:task-complete-undo' pk=task.pk %}?next={% url 'todolist:task-list' %}" class="btn btn-primary link-to-page">Undo</a>
      {% else %}
        <strong style="color: red"> Not done </strong>
      <a href="{% url 'todolist:task-complete-undo' pk=task.pk %}?next={% url 'todolist:task-list' %}" class="btn btn-success link-to-page">Complete</a>
    {% endif %}
      <a href="{% url 'todolist:task-detail' pk=task.pk %}">{{ task.header }}</a>

    </p>
    <p>
      Created: {{ task.datetime }}
    </p>
    <p>
      <a href="{% url 'todolist:task-update' pk=task.pk %}">Update</a>
      <a href="{% url 'todolist:task-delete' pk=task.pk %}">Delete</a>
    </p>

  {% endfor %}
{% endblock %}
